extends base.pug 
block content
    ul
        li 
            a(href=`/video/update/${video.id}`) Update
        li 
            a(href=`/video/remove/${video.id}`) Delete
    h1=video.title
    div 
        video(src="/" + video.fileUrl, controls)
    h4 #{video.hashtags} #{video.createdAt}